
body{
margin:0;
font-family:Segoe UI;
background:#f5f0e6;
}

header{
background:#6b4f3b;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

#map{
height:100vh;
}

.form-panel{
position:absolute;
top:90px;
right:20px;
width:320px;
background:#f8f4ec;
padding:15px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.25);
animation:fadeIn 0.8s ease;
}

input,textarea{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:10px;
border-radius:6px;
border:1px solid #bfa58a;
}

button{
background:#8b6b4f;
color:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#6b4f3b;
}

.dashboardBtn{
background:#a67c52;
padding:8px 12px;
border-radius:6px;
text-decoration:none;
color:white;
}

.dashboard-container{
padding:30px;
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
font-size:26px;
box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.chartbox{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}
